services:
  rocketmq-namesrv:
    image: apache/rocketmq:5.3.2
    ports:
      - "9876:9876"
    command: sh mqnamesrv
  rocketmq-broker:
    image: apache/rocketmq:5.3.2
    ports:
      - "10909:10909"
      - "10911:10911"
      - "10912:10912"
    environment:
      - NAMESRV_ADDR=rocketmq-namesrv:9876
    depends_on:
      - rocketmq-namesrv
    command: sh mqbroker
  rocketmq-proxy:
    image: apache/rocketmq:5.3.2
    depends_on:
      - rocketmq-broker
      - rocketmq-namesrv
    ports:
      - "8080:8080"
      - "8081:8081"
    restart: on-failure
    environment:
      - NAMESRV_ADDR=rocketmq-namesrv:9876
    command: sh mqproxy
  redis:
    image: redis:8.2.1
    ports:
      - "6379:6379"
    command: [ "redis-server", "--appendonly", "yes" ]
